/* Carousel Item Definitions 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.owl_content_block {
  height: 45rem;
  padding-top: 8rem;
  background-size: cover;
  background-position: center;
}
.hero_box {
  background-color: rgb(255, 255, 255, 0.8);
  border: 1px solid #666;
  text-align: left;
  visibility: visible;
  width: 20rem;
  transition: 2s;
  margin: 0 auto;
  padding: 1.5rem;
  font-size: 1.2rem;
  border-radius: 1rem;
}
.hero_box h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #33c3f0;
}
div.active div.hero_box {  
  animation-name: moveInUp;
  animation-duration: 0.6s;
 animation-delay: 0.3s;
 animation-timing-function: ease;
 animation-fill-mode: both;
 backface-visibility: hidden;
}

/* Background Definitions 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.owl_1 {
  background-image: url(../images/owl_bg_boards.jpg);
}
.owl_2 {
  background-image: url(../images/owl_bg_team.jpg);
}
.owl_3 {
  background-image: url(../images/owl_bg_blog.jpg);
}
.owl_4 {
  background-image: url(../images/owl_bg_accessories.jpg);
}
